* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show {
  background-color: #474646;
  margin-bottom: 20px;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* aspect-ratio: 1/1; */
  display: flex;
  justify-content: center;
  border-radius: 8px;
  /* box-shadow: 0 18px 40px rgba(143, 144, 146, 0.08); */
}

.cal-container {
  border-radius: 5px;
  background-color: #000;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 20px;
  /* height: 400px; */
  /* margin: auto; */
  margin-top: 20px;
  padding: 2px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
}

#input {
  background-color: #d2d1d1fb;
  font-size: 1.8rem;
  grid-area: 1/1/1/5;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  text-align: end;
  border: none;
  color: #181717;
}

.operators {
  font-size: 26px;
  font-weight: bold;
  background-color: #3b3b3b;
}

#equal {
  background-color: #3b3b3b;
  grid-area: 5/4/7/4;
  border-radius: 13%;
  font-size: 26px;
  color: #000;
}

.btn {
  font-size: 17px;
  border-radius: 20%;
  border: none;
}
